#myCanvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  #myDiv {
    position: absolute;
    display: none;
    margin: 1% 3%;
    width: 90%;
    height: 90%;
    background: linear-gradient(to bottom, #000000, #0d0d0d);
    padding: 2%;
    
    


  }
  #loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:url(./imgs/carregando.png);
    background-size: 20%;
    background-repeat: no-repeat;
    background-color: #000000;
    background-position: center;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .verem2d{
    
    position: absolute;
    width: 90%;
    height: 8%;
    background-color: #ffffff;
    bottom: 0;
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 19px;
    
  }
  #tutorial{
    
    background-image: url(./imgs/manual.png);
    background-size: 80%;
    background-repeat: no-repeat;
    position: absolute;
    width: 200px;
    height: 300px;
    margin-top: 180px;
    right: 0;
  }
  #minimizar{
    width: 20px;
    height: 20px;
    right: 25px;
    position: absolute;
    background-color: #0d0d0d;
  }
  #fechar{
    width: 20px;
    height: 20px;
    right: 0;
    position: absolute;
    background-color: #ff0000;
  }
  #voltar{
    width: 200px;
    height: 50px;
    position: absolute;
    margin-top: 25px;
    margin-left: 25px;
    color: #ffffff;
    font-size: 30px;
  }
  #divcelular{
    position: absolute;
    width: 28%;
    height: 95%;
    background-color: #ff0000;
    margin: 1% 35%;
    border-radius: 20px;
    
  }
  .telacelular{
    position: absolute;
    margin: 1% 1%;
    width: 98%;
    height: 98%;
    border-radius: 20px;
    background: linear-gradient(to bottom, #000000, #0d0d0d);
  }
  #telacelulardisplay{
    position: absolute;
    margin: 1% 1%;
    width: 98%;
    height: 98%;
    border-radius: 20px;
    background-image: url(./imgs/celulartela.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  #linksteladisplay{
    position: absolute;
    display: none;
    margin: 11% 2.5%;
    width: 95%;
    height: 82%;
    
  }
  .gitlink{
    position: absolute;
    width: 70px;
    height: 70px;
    margin: 12% 6%;
    background-image: url(./imgs/celulargit.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .git-text{
    position: absolute;
    font-size: 12px;
    color: white;
    margin: 34% 11%;
  }
  .linkedin-text{
    position: absolute;
    font-size: 12px;
    color: white;
    margin: 34% 32%;
  }
  .insta-text{
    position: absolute;
    font-size: 12px;
    color: white;
    margin: 34% 51.5%;
  }
  .email-text{
    position: absolute;
    font-size: 12px;
    color: white;
    margin: 34% 77%;
  }
  .steam-text{
    position: absolute;
    font-size: 12px;
    color: white;
    margin: 66% 11%;
  }
  .tt-text{
    position: absolute;
    font-size: 12px;
    color: white;
    margin: 66% 33%;
  }
  .face-text{
    position: absolute;
    font-size: 12px;
    color: white;
    margin: 66% 52.5%;
    
  }
  .twitch-text{
    position: absolute;
    font-size: 12px;
    color: white;
    margin: 66% 77%;
  }
  .linkedinlink{
    position: absolute;
    width: 70px;
    height: 70px;
    margin: 12% 28%;
    background-image: url(./imgs/celularlinkedin.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .instalink{
    position: absolute;
    width: 70px;
    height: 70px;
    margin: 12% 50%;
    background-image: url(./imgs/celularinstagram.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .emaillink{
    position: absolute;
    width: 70px;
    height: 70px;
    margin: 12% 72%;
    background-image: url(./imgs/celularemail.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .steamlink{
    position: absolute;
    width: 70px;
    height: 70px;
    margin: 44% 6%;
    background-image: url(./imgs/celularsteam.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .twitterlink{
    position: absolute;
    width: 70px;
    height: 70px;
    margin: 44% 28%;
    background-image: url(./imgs/celulartwitter.png);
    background-size: 100%;
    background-repeat: no-repeat;;
    border-radius: 10px;
  }
  .facebooklink{
    position: absolute;
    width: 70px;
    height: 70px;
    margin: 44% 50%;
    background-image: url(./imgs/celularfacebook.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .twitchlink{
    position: absolute;
    width: 70px;
    height: 70px;
    margin: 44% 72%;
    background-image: url(./imgs/celulartwitch.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .camcelular{
    position: absolute;
    margin: 1% 47%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #000000, #000000);
  }
  .botao-menu-celular{
    position: absolute;
    margin: 150% 45%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #171717, #222222);
  }
  .cam{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #404040;
    border-radius: 50%;
    margin-top: -22px;
    margin-left: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cam2{
    height: 15px;
    width: 15px;
    border-radius: 50%;

    background-color: #131313;
  }
  .googlebar{
    background-image: url(./imgs/googlebar.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 95.8%;
    height: 80px;
    position: absolute;
    top: 0;
    margin-top: 2%;
  }
#winds{
    background-image: url(./imgs/wind.png);
    background-size: 140%;
    background-repeat: no-repeat;
    width: 95.8%;
    height: 30px;
    position: absolute;
    bottom: 0;
    margin-bottom: 2%;
    transition: none;
    outline: none;
}
.windsdesk{
    width: 100%;
    height: 100%;
    background-image: url(./imgs/telawind.png);
    background-size: 100%;
    background-repeat: no-repeat
}
  .div-conteudo-tela{
    width: 100%;
    height: 85%;
    overflow: auto;
    display: none;
    margin-top: 60px;
  }

  body{
    font-family: 'DM Sans', sans-serif;;
    
}
header{
    background-image: url(imgs/cab.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(22, 22, 22);
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 100px;
    
}
.logoheader {
    background-image: url(imgs/ryanlogo2.png);
    background-size: 180px;
    background-repeat: no-repeat;
    width: 180px;
    height: 100px;
    margin-left: 70px;
    margin-left: 500px;
    margin-top: 110px;
}
.hs{
    color: #ffffff;
}
nav{
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center ;
    flex-direction: row;
    gap: 25px;
}





.parte1{
    background-image: linear-gradient(90deg, #080a0a 40%,   #003636 100%);
    width: 100%;
    height: 700px;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
}


.apresentacao{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}
.rafaa{
    color: rgb(5, 204, 187);
}
h1{
    color: #ffffff;
    font-size: 60px;
}
h5{
    color: rgb(5, 204, 187);
    font-size: 30px;

}
h6{
    color:#ffffff;
    font-size: 20px; 
}
.texto1{
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.linha{
    width: 350px;
    height: 5px;
    background-color:  rgb(5, 204, 187);;
}
.foto1{
    background-image: url(imgs/ryanport.png);
    background-size: 450px;
    background-repeat: no-repeat;
    width: 33%;
    height: 400px;
    
    
}
.play{
    border-radius: 15px;
    width: 150px;
    height: 30px;
    background-image: linear-gradient(90deg, #080a0a 40%,   #003636 100%);
    border-color: #ffffff;
    color: #ffffff;
    
}





.parte2{
    background-color: black;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.texto2{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    
}
.linha2{
    width: 350px;
    height: 5px;
    background-color:  rgb(5, 204, 187);
}
.mim{
    text-align: justify;
}









.parte3{
    background-color:rgb(19, 19, 19);
    width: 100%;
    height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 200px;
}
.foto3{
    background-image: url(imgs/ryanfoto2.png);
    background-size: 450px;
    background-repeat: no-repeat;
    width: 33%;
    height: 400px;
}
.texto3{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
    
}
.apresentacao3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    
}
.linha3{
    width: 350px;
    height: 5px;
    background-color:  rgb(5, 204, 187);
}
.alinharplacas3{
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 15px;
    flex-direction: row;
}
.placa3{
    background-image: url(imgs/placa.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 250px;
    height: 100px;
    border-radius: 15px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.3);
    

    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    
}
.h6pt3{
    color: #ffffff;
    line-height: 20px;
    
}









.parte4{
    background-image: linear-gradient(90deg, #003636 40%, #080a0a 100%);
    width: 100%;
    height: 600px;
    flex-direction: column;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
}
.projetosap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
.pro1{
    width: 250px;
    height: 150px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    transition: transform .7s;
    flex-wrap: wrap;
    background-image: linear-gradient(90deg, rgb(5, 204, 187) 40%,   #003636 100%);
    padding-top: 15PX;
}
.pro1:hover{
    transform: scale(1.1);
}
.pro1img1{
    background-image: url(imgs/pro1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 250px;
    height: 150px;
    
}
.pro1img2{
    background-image: url(imgs/pro2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 250px;
    height: 150px;
    
}
.pro1img3{
    background-image: url(imgs/pro3.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 250px;
    height: 150px;
    
}
.vertd{
    margin-top: 40px;
}
#btn{
    transition: transform .7s;
}
#btn:hover{
    transform: scale(1.1);
}
.verpro{
    color: black;
}
.copy{
    margin-top: 50px;
    margin-left: 750px;
    opacity: .5;
    
    font-size: small
    
}


footer{
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    
    gap: 15px;
    align-items: center;
    align-content: center;
    
}
.divinsta{
    background-image: url(imgs/Insta.png);
    background-size: 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-left: 70px;
}
.divlink{
    background-image: url(imgs/Linke.png);
    background-size: 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    
}
.divface{
    background-image: url(imgs/face.png);
    background-size: 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    
}
.divgit{
    background-image: url(imgs/git.png);
    background-size: 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    
}
.divtt{
    background-image: url(imgs/tt.png);
    background-size: 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    
}
.divtw{
    background-image: url(imgs/twit.png);
    background-size: 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    
}
.divsteam{
    background-image: url(imgs/steam.png);
    background-size: 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    
}
.divapre{
    background-image: url(imgs/minhasredes.png);
    background-size: 300px;
    background-repeat: no-repeat;
    width: 300px;
    height: 30px;
    
}







.linha{
    animation: linha 2s backwards;
}
.texto1{
    animation: slideRow .9s backwards;
}
.foto1{
    animation: slideRowInv .9s backwards;
    animation-duration: 2s;
}
@keyframes slideRow {
    from{
        opacity: 0;
        transform: translateX(-180px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideRowInv {
    from{
        opacity: 0;
        transform: translateX(-180px);
        
    }

    to{
        opacity: 1;
        transform: translateX(0);
        
    }
}



@keyframes linha {
    from{
        width: 2px;
    }

    to{
        width: 350px;
    }
}

